{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block stylesheets_custom %} 
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% block custom_fos %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}