{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block stylesheets_custom %} 
{% endblock %}

{% block body %}
<div class="container">
<h2>Votre panier :</h2>
<table class="display table table-hover table-bordered">
        <thead>
            <tr>
                <th>N° commande :</th>
                <th>Date de commande :</th>
                <th>Nombre articles :</th>
                <th>Prix :</th>
                <th>Détails :</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>N° commande :</th>
                <th>Date de commande :</th>
                <th>Nombre articles :</th>
                <th>Prix :</th>
                <th>Détails :</th>
            </tr>
        </tfoot>

        
        <tbody>
        	{% for item in liste_commande %}
            <tr>
                <td>{item.id}</td>
                <td></td>
                <td>item.nb_articles</td>
                <td>item.prix</td>
                <td><a href="{{ path('commande', {'id' : item.id}) }}">Voir détails</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


{% block footer %}
        <footer>
            <div class="container">
                <article class="col-md-3">
                    <h3>Informations légales :</h3>
                    <p>&copy; 2016 Company, Inc.</p>
                </article>
                <article class="col-md-3">
                    <h3>Contact :</h3>
                </article>
                <article class="col-md-3">
                    <h3>Partenaires &amp; amis : </h3>
                </article>
                <article class="col-md-3">
                    <h3>Suivez nous !</h3>
                    <ul>
                        <li>Twitter</li>
                        <li>Facebook</li>
                        <li>LinkedIN</li>
                    </ul>
                </article>
            </div>
        </footer>
{% endblock %}


{% block javascripts %}

{% endblock %}