<div class="modal fade modal-sandwich" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi ipsum molestias non omnis perferendis unde veniam voluptatum? Aliquam assumenda blanditiis,
            dolor dolores maxime molestiae non numquam quam rem suscipit ut.
        </div>
    </div>
</div>